<h1 class="centeredHeader">A Collection of Kings</h1>
  <p class="centeredHeader">Kings you like: &nbsp;<span>{{forDisplay}}</span></p>
  <div class="pure-g">
    <div class="pure-u-3-4">
      <div ng-repeat="item in myArray" class="responseTable">
        <div drag-me class="clickClass" ng-click="kingBuilder()">
          {{ item.cty }}
        </div>
        <div drag-me class="clickClass" ng-click="kingBuilder()">
          {{ item.nm }}
        </div>
        <div drag-me class="clickClass" ng-click="kingBuilder()">
          {{ item.hse }}
        </div>
        <div drag-me class="clickClass" ng-click="kingBuilder()">
          {{ item.yrs }}
        </div>
      </div>
  </div>
  <div class="pure-u-1-5 targetContainer">
    <span>Anything Here?</span>

  </div>
  </div>
