@import "include-media";

body {
  margin: 0 auto;
}

.mainContainer {
  width: 100%;
  background-color: antiquewhite;

  @include media('<tablet'){
    background-color:white;
  }
}

.centeredHeader {
  text-align: center;
  width:74%;
  padding:0;
  margin-left: 13%;
}

.responseTable {
  position:relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 75%;
  background-color: tan;
  margin:10px auto;
  border-radius: 40px;
}

.responseTable div{
  border: 1px solid saddlebrown;
  border-radius: 25px;
  background-color: tan;
  margin:5px auto;
  padding: 10px;
  cursor: pointer;
  min-width: 21%;
  text-align: center;
  @include media('<tablet'){
    width:auto;
    min-width:0;
  }
}

.responseTable span:hover{
  background-color: saddlebrown;
  color:antiquewhite;
}

.targetContainer {
  border: 1px solid saddlebrown;
  border-radius: 35px;
  height: auto;
  padding: 10px;
  margin-top:10px;
}
