body {
  margin: 0 auto; }

.mainContainer {
  width: 100%;
  background-color: antiquewhite; }
  @media (max-width: 767px) {
    .mainContainer {
      background-color: white; } }

.centeredHeader {
  text-align: center;
  width: 74%;
  padding: 5px;
  margin-left: 13%; }

.responseTable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 75%;
  background-color: tan;
  margin: 10px auto;
  border-radius: 40px; }

.responseTable span {
  border: 1px solid saddlebrown;
  border-radius: 25px;
  margin: 5px auto;
  padding: 10px;
  cursor: pointer;
  min-width: 21%;
  text-align: center; }
  @media (max-width: 767px) {
    .responseTable span {
      width: auto;
      min-width: 0; } }

.responseTable span:hover {
  background-color: saddlebrown;
  color: antiquewhite; }
